<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Purchase Form</title>
</head>
<body>
<h1>User Purchase Form</h1>
<form th:action="@{/user-purchases/create}" th:object="${userPurchase}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"/><br/><br/>
    php
    Copy code
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" th:field="*{lastName}"/><br/><br/>

    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}"/><br/><br/>

    <label for="count">Count:</label>
    <input type="number" id="count" th:field="*{count}"/><br/><br/>

    <label for="amount">Amount:</label>
    <input type="number" id="amount" th:field="*{amount}"/><br/><br/>

    <label for="purchaseDate">Purchase Date:</label>
    <input type="date" id="purchaseDate" th:field="*{purchaseDate}"/><br/><br/>

    <label for="purchase">Purchase:</label>
    <select id="purchase" name="purchase.id">
        <option value="">-- Select Purchase --</option>
        <th:block th:each="purchase : ${purchases}">
            <option th:value="${purchase.id}" th:text="${purchase.name}"></option>
        </th:block>
    </select><br/><br/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>