<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Purchase Form</title>
</head>
<body>
<h1>User Purchase Form</h1>
<form th:action="@{/create}" th:object="${userPurchase}" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" th:field="*{name}"/><br/><br/>
    php
    Copy code
    <label for="lastname">Lastname:</label>
    <input type="text" id="lastname" th:field="*{lastName}"/><br/><br/>

    <label for="age">Age:</label>
    <input type="number" id="age" th:field="*{age}"/><br/><br/>

    <label for="count">Count:</label>
    <input type="number" id="count" th:field="*{count}"/><br/><br/>

    <label>Amount:</label>
    <input type="number" step="0.01" th:field="*{amount}"><br/><br/>

    <label for="purchaseDate">Purchase Date:</label>
    <input type="date" id="purchaseDate" th:field="*{purchaseDate}"/><br/><br/>

    <label>Purchase:</label>
    <input type="text" th:field="*{purchase.name}">


    <!--    <label for="purchase">Purchase:</label>-->
<!--    <select id="purchase" name="purchase.name">-->
<!--        <option value="">&#45;&#45; Select Purchase &#45;&#45;</option>-->
<!--        <th:block th:each="purchase : ${purchases}">-->
<!--            <option th:value="${purchase.id}" th:text="${purchase.getName}"></option>-->
<!--        </th:block>-->
<!--    </select>-->

    <br/><br/>

    <input type="submit" value="Submit"/>
</form>
</body>
</html>